<footer>
  <div align="center" id="footer-post" style="color:#acacac; display:none" class="disable-select">
    <span>BreakTimeTV</span> No almacena ningún vídeo, estos son alojados en sitios de terceros, nosotros solo recopilamos los mejores sin publicidad  - Hay {{ site.posts | size }} contenido disponible

    <p> BreakTimeTV © - 2020 <svg class="love"><use xlink:href="#icon-heart"></use></svg>  </p>
    Desarrollado por: <span style="color:#acacac; font-weight: bold"> Un Breaknamita  </span>
 

  
    <div align="center" style="color:#acacac;">
      <a href="{{ site.baseurl}}/politica-privacidad"> Política de Privacidad </a>
      |
      <a href="{{ site.baseurl}}/aviso-legal"> Aviso Legal </a>
      |
      <a href="{{ site.baseurl}}/terminos-servicios"> Términos de servicios </a>


      </div>
    <div align="center" style="color:#acacac;    padding-top: 10px;" id="footer-facebook-post">
   
      <a rel="noreferrer"  href="https://www.instagram.com/_breaktimetv/"  target="_blank" title="Instagram">
        <svg><use xlink:href="#icon-instagram"></use></svg>
      </a>

   
    
    </div>
  </div>





<script src="{{ "/assets/js/main2.js" | prepend: site.baseurl }}"></script>

<script  src="/assets/js/sweetalert.min.js"></script>

<!-- Google CDN Hosted jQuery  -->


<script type="text/javascript">
$('#gform').on('submit', function(e) {
  $('#myModal').modal('hide');
  $('#entry.257663063').val('');
  
  swal("Enviado!", "Gracias por haber reportado el problema, lo solucionaremos lo más pronto posible!", "success")
  });
</script>

     



 

     
<script src="/assets/js/prefixfree.min.js"></script>












    



     <script  src="/assets/js/bootstrap.min.js"></script>
     <script  src="/assets/js/malware.js"></script>
     <script  src="/assets/js/footer-post2.js"></script>
     <script  src="/assets/js/WebModule.js"></script>
      <script>
        WebModule.verify  = true;
        WebModule.verbose = true;
        WebModule.publish = true;
        </script>
        <script  src="/assets/js/ES.js"></script>
        <script  src="/assets/js/WebGLDetector.js"></script>
        <script  src="/assets/js/UserAgent.js"></script>
      
        <script>

          function mostrar(){

          document.getElementById("loader").style.display = "block";

          }

         




          var ua = new UserAgent();

          if(ua.PC){

          

       

            var titulo_movil=  document.getElementById("titulo_movil");
            if(titulo_movil){
              document.getElementById("titulo_movil").style.paddingTop = "60px";
            }
           
          
         
            var footer_post=  document.getElementById("footer-post");
            if(footer_post){
              document.getElementById("footer-post").style.display = "block";
            }
           
        
            var comment_facebook2 = document.getElementById("comentario-gif");
            if(comment_facebook2){

          
            document.getElementById("gif").style.display = "block";
            document.getElementById("comentario-gif").style.display = "block";

            }
         

            var filtros = document.getElementById("filtros");
            if(filtros){
              document.getElementById("filtros").style.display = "none";

            }

     
            var get_app = document.getElementById("get_app");
            if(get_app){
              document.getElementById("get_app").style.display = "block";

            }
            
 

    
          
            
           

      
          }

          if(ua.MOBILE || ua.iPad){

          

            var titulo_movil=  document.getElementById("titulo_movil");
      if(titulo_movil){
        document.getElementById("titulo_movil").style.paddingTop = "60px";
      }

            var instagram_whatsapp2 = document.getElementById("instagram_whatsapp2");
            if(instagram_whatsapp2){
              document.getElementById("instagram_whatsapp2").style.display = "block";

            }

            var instagram_whatsapp1 = document.getElementById("instagram_whatsapp1");
            if(instagram_whatsapp1){
              document.getElementById("instagram_whatsapp1").style.display = "block";

            }

            var comment_facebook2 = document.getElementById("comentario-gif");
            if(comment_facebook2){

          
            document.getElementById("gif").style.display = "none";
            document.getElementById("comentario-gif").style.display = "none";

            }

  

     
         

      

       
      
          }

          
      


         

          if(ua.WEB_VIEW){

            var titulo_movil=  document.getElementById("titulo_movil");
            if(titulo_movil){
              document.getElementById("titulo_movil").style.paddingTop = "0px";
            }

            var portada_index = document.getElementById("portada_index");
            if(portada_index){

              document.getElementById("portada_index").style.display = "block";

            }

            var info_index = document.getElementById("info_index");
            if(info_index){

              document.getElementById("info_index").style.display = "block";

            }

            var get_app = document.getElementById("get_app");
            if(get_app){
              document.getElementById("get_app").style.display = "none";

            }

            
           
           
            var instagram_whatsapp2 = document.getElementById("instagram_whatsapp2");
            if(instagram_whatsapp2){
              document.getElementById("instagram_whatsapp2").style.display = "block";

            }

            var instagram_whatsapp1 = document.getElementById("instagram_whatsapp1");
            if(instagram_whatsapp1){
              document.getElementById("instagram_whatsapp1").style.display = "block";

            }
           
           
       
        
          
            var filtros = document.getElementById("filtros");
            if(filtros){
              document.getElementById("filtros").style.display = "block";

            }
            
            var facebook_post = document.getElementById("footer-facebook-post");
        

            if(facebook_post)
            {
              document.getElementById("footer-facebook-post").style.display = "none";
            }
     
  
  

   

           

          
     
           
          }else{
            
           
            var compartir = document.getElementById("descargas3");
            

            if(compartir)
            {

              document.getElementById("descargas3").style.display = "block";

            }

    
            
            
            
            
          }

        
          
          
          </script>
















<script>








window.onscroll = function () {

  var  nav = document.getElementById('header-fixed-1');
  if (window.pageYOffset >25) {
              

      		nav.style.background = "#000000";
      	
      	}
      	else{
          
      		nav.style.background = "#00000000";
      		
        }


        
   

}





</script>



<script>








            $('#anio').on('change', function() {
              mostrar();

            var valor= this.value;
           
            document.location.href="https://breaktimetv.github.io"+valor;

            });

            $('#contenido_filtro').on('change', function() {
              mostrar();

              var valor= this.value;

              document.location.href="https://breaktimetv.github.io"+valor;


            });

           

            $("#toast1").on({
                mousedown: function() {
                    $(this).data('timer', setTimeout(function() {
                          mostrar_toast();
                    }, 1000));
                },
                mouseup: function() {
                    clearTimeout( $(this).data('timer') );
                }
            });

            $("#toast2").on({
                mousedown: function() {
                    $(this).data('timer', setTimeout(function() {
                          mostrar_toast2();
                    }, 1000));
                },
                mouseup: function() {
                    clearTimeout( $(this).data('timer') );
                }
            }); 
            function mostrar_toast() {
              var x = document.getElementById("snackbar1");
              x.className = "show";
              setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            }

            function mostrar_toast2() {
              var x = document.getElementById("snackbar2");
              x.className = "show";
              setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            }

      




</script>
















     
     

  



